.App {
  text-align: center;
  position: relative;
}

.Canvas {
  transform: rotate(180deg);
  background: #000;
  position: relative;
}

.H1 {
  color: #fff;
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 10px;
  font-size: 36px;
}

.Small {
  font-size: 16px;
}

.Controls {
  position: absolute;
  top: 80px;
  left: 10px;
  display: flex;
  z-index: 2;
}